<!DOCTYPE html>
<html>
<head>
  <title>Dripper</title>
  <%= stylesheet_link_tag    "dripper/application", media: "all" %>
  <%= javascript_include_tag "dripper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
